<a href="https://colab.research.google.com/github/MarcosJesusNicolasR/Optativa_Python_para_Matematicas/blob/main/2022_08_23_Ternas_Pitagoricas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Ternas Pitag√≥ricas**  

Buscar todas las ternas pitagoricas que se pueden formar con numeros menores que $1000$.

In [15]:
# Determina si una terna de numeros es Pitagorica
def es_terna(x:int,y:int,z:int):
    if x**2+y**2 == z**2:
        return True
    elif x**2+z**2 == y**2:
        return True
    elif z**2+y**2 == x**2:
        return True
    else:
        return False

# Busca todas las ternas que se pueden formar con numeros menores que n
def ternas(n:int):
    x1 = [i for i in range(n)]
    y1 = [i for i in range(n)]
    z1 = [i for i in range(n)]
    terna = []
    for x in x1:
        con_1 = {x}
        for y in y1:
            if y not in con_1:
                con_2 = con_1.union({y})
                for z in z1:
                    if z not in con_2:
                        con_3 = con_2.union({z})
                        ter = tuple(con_3)
                        if es_terna(ter[0],ter[1],ter[2]) == True:
                            terna.append((x,y,z))
    return terna

Ternas Pitagoricas con numeros menores que $100$.

In [16]:
ternas_1 = ternas(100)
ternas_1

[(3, 4, 5),
 (3, 5, 4),
 (4, 3, 5),
 (4, 5, 3),
 (5, 3, 4),
 (5, 4, 3),
 (9, 12, 15),
 (9, 15, 12),
 (9, 40, 41),
 (9, 41, 40),
 (10, 24, 26),
 (10, 26, 24),
 (11, 60, 61),
 (11, 61, 60),
 (12, 9, 15),
 (12, 13, 5),
 (12, 15, 9),
 (12, 16, 20),
 (12, 20, 16),
 (12, 35, 37),
 (12, 37, 35),
 (13, 5, 12),
 (13, 12, 5),
 (15, 9, 12),
 (15, 12, 9),
 (16, 12, 20),
 (18, 24, 30),
 (18, 30, 24),
 (18, 80, 82),
 (18, 82, 80),
 (20, 29, 21),
 (20, 48, 52),
 (20, 52, 48),
 (24, 10, 26),
 (24, 18, 30),
 (24, 30, 18),
 (24, 32, 40),
 (27, 36, 45),
 (27, 45, 36),
 (28, 53, 45),
 (29, 20, 21),
 (29, 21, 20),
 (30, 18, 24),
 (30, 24, 18),
 (32, 24, 40),
 (32, 40, 24),
 (32, 60, 68),
 (33, 44, 55),
 (33, 55, 44),
 (33, 56, 65),
 (35, 12, 37),
 (35, 37, 12),
 (36, 27, 45),
 (36, 39, 15),
 (36, 45, 27),
 (36, 48, 60),
 (36, 60, 48),
 (36, 85, 77),
 (37, 12, 35),
 (37, 35, 12),
 (39, 15, 36),
 (39, 36, 15),
 (40, 9, 41),
 (40, 42, 58),
 (40, 75, 85),
 (40, 85, 75),
 (42, 40, 58),
 (42, 56, 70),
 (42, 58, 40),
 (42, 70, 56),
 (44, 33, 55),
 (44, 55, 33),
 (45, 27, 36),
 (45, 36, 27),
 (48, 20, 52),
 (48, 36, 60),
 (48, 80, 64),
 (51, 68, 85),
 (51, 85, 68),
 (53, 28, 45),
 (53, 45, 28),
 (55, 33, 44),
 (55, 44, 33),
 (56, 33, 65),
 (56, 42, 70),
 (56, 70, 42),
 (57, 76, 95),
 (57, 95, 76),
 (60, 11, 61),
 (60, 32, 68),
 (60, 61, 11),
 (60, 68, 32),
 (60, 87, 63),
 (61, 11, 60),
 (61, 60, 11),
 (64, 48, 80),
 (64, 80, 48),
 (65, 72, 97),
 (65, 97, 72),
 (68, 51, 85),
 (68, 85, 51),
 (70, 42, 56),
 (70, 56, 42),
 (72, 65, 97),
 (75, 40, 85),
 (75, 85, 40),
 (76, 57, 95),
 (76, 95, 57),
 (80, 18, 82),
 (84, 85, 13),
 (85, 13, 84),
 (85, 36, 77),
 (85, 40, 75),
 (85, 51, 68),
 (85, 68, 51),
 (85, 75, 40),
 (85, 84, 13),
 (87, 60, 63),
 (87, 63, 60),
 (95, 57, 76),
 (95, 76, 57)]